extends layout

block content
  h1= title
  p Welcome to #{title},which  is the most popular Node web framework.
  button.btn.btn-primary.btn-lg(onclick="goFaster()") Click me
  div#faster Increase the speed.
  
   br
   a(href='/employees') View Employees

  

   script.
    var mph = 20;
    var change = 1;
    function goFaster() {
      mph += change;
      change += 1;
      document.getElementById("faster").innerText = `MPH ${mph} with change ${change}`;
    }