extends layout

block content
  h1= title
  
  - let items = results

  div(class="container-fluid")
    div(class="row") 
      - 
      each item in results
        div(class="col-sm-2") 
          p Name: #{item.name}
          p Category: #{item.category}
          p Price: #{item.price}